.header {
    background: var(--purple-300);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.183rem;
    box-shadow: 5px 5px 5px 0px #000000;
    box-shadow: inset 0px 0px 25px -8px #000000;

    nav {
        display: flex;

        a {
            color: var(--white);
            padding-right: 2.625rem;
            padding-left: 2.625rem;
            font-size: 1.563rem;
            font-weight: 500;
            text-decoration: none;

            transition: 0.2s;

            &:hover {
                filter: brightness(5);
                transform: scale(1.2);
            }
        }
    }
}
