.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16rem;

    .wraper {
        display: block;

        .content {
            display: flex;
            align-items: center;
        }

        .elipse {
            height: 18.75rem;
            width: 18.75rem;
            border-radius: 180px;
        }

        p {
            color: var(--white);
            width: 40rem;
            font-size: 1.7rem;

            font-weight: 400;
        }

        footer {
            display: flex;
            justify-content: center;
            padding-top: 5rem;
        
            a {
                display: flex;
                padding-left: 3rem;
                padding-right: 3rem;
            }
        }
    }
}

@media (max-width: 1080px) {
    .content {
        display: block;
        flex-direction: column;
        align-items: center;
        align-content: center;

        .elipse {
            margin-bottom: 5rem;
        }

        p {
            text-align: center;
        }
    }
}

@media (min-width: 1080px) {
    p {
        margin-left: 4.813rem;
    }
}