.wraper {
    display: flex;
    align-items: center;
    align-content: center;
    padding-top: 6rem;

    p {
        color: var(--white);
        width: 40rem;
        font-size: 1.7rem;
        padding-left: 4.813rem;
        font-weight: 400;
    }
}

.elipse {
    height: 18.75rem;
    width: 18.75rem;
    margin-left: 9.313rem;
    border-radius: 180px;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 2rem;

    a {
        display: flex;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}